<link rel="stylesheet" href="/css/home.css">
<!-- If we direcly add this file to the layout.ejs file, this will be added just like the html line of code-->
<!-- But we want this line to be added below the title section of the head tag of the layout.ejs file -->
<h1>Home HTML File Accessed -- <%= title %></h1>    
<!-- The title is a variable and is being sent by the home_controller.js file 
    and it will be called upon being accessing the routers -->